# introduction to the vectorizing principle

## part 6: many ways to describe data transformations in python

We have seen that both SQL databases and DataFrames are powerful tools to perform data transformations.
In python, several libraries exist for this task with their own strengths and weaknesses:

- [Pandas](https://pandas.pydata.org/) is the most popular library for working with DataFrames in python. However, it got extremely popular before its API design could be completed to an extent that it would avoid serious pitfalls in day-to-day code. Since it is that widely used and some problems are caused by core principles of the library, it cannot be expected that such problems just vanish by waiting long enough.
- [Polars](https://www.pola.rs/) is a contender in the DataFrame space with fastly growing popularity. Its core implementation is in Rust and it has a modern architecture allowing for lazy expression building and optimized execution.
- [Pydiverse.transform](https://github.com/pydiverse/pydiverse.transform/) was used in part 5 and can be used to work on DataFrames and SQL databases with the same syntax. While it is still an early stage open source project, the ambition is to provide the highest reliability of all tools targeting DataFrame and SQL execution backends for a defined set of most relevant data transformation operations.
- [Ibis](https://ibis-project.org/) is a library that also tries to abstract the data transformation description from execution backends with a predominant focus on generating SQL expressions. While it already supports a wide range of operations and SQL dialects, there still seem to be some reliability issues which seem hard to fix given the current architecture.
- [SQLAlchemy](https://www.sqlalchemy.org/) is the most widely used library for generating SQL expression with python code. However, its syntax has rough edges and is much less concise compared with the other tools.
- SQL query strings can still be handwritten and form a powerful interface for describing data transformations in an ad-hoc fashion.

It may be worth noting, that a pretty clean way of describing tabular data transformations was developed for the programming language R called [dplyr](https://dplyr.tidyverse.org/). It is the basis of the API design of various python libraries like pydiverse.transform, ibis, and tidypolars. So even if you do not intend to work with the programming language R, it is worth reading the [dplyr](https://dplyr.tidyverse.org/) documentation since it is a nice introduction to the field in general.

#### the following code shows how to describe the join of two tables and adding a new column to the result works in different libraries:

In [1]:
import os

import pandas as pd
import polars as pl
import sqlalchemy as sa
import ibis
import pydiverse.transform as pdt
from pydiverse.pipedag import Flow, Stage, Table, materialize
from pydiverse.transform.core.verbs import (
    left_join,
    mutate,
    select, alias,
)
from pydiverse.transform.eager import PandasTableImpl
from pydiverse.transform.lazy import SQLTableImpl


@materialize(input_type=pd.DataFrame, version="1.0.0")
def task_pandas(a: pd.DataFrame, b: pd.DataFrame):
    return a.merge(b, on="pk", how="left").assign(x2=lambda df: df.x * df.x)


@materialize(input_type=pl.DataFrame, version="1.0.0")
def task_polars(a: pl.DataFrame, b: pl.DataFrame):
    x = pl.col("x")
    return a.join(b, on="pk", how="left").with_columns((x * x).alias("x2"))


@materialize(input_type=PandasTableImpl, version="1.0.0")
def task_transform_df(a: pdt.Table, b: pdt.Table):
    return (
        a >> left_join(b, pk_match(a, b)) >> mutate(x2=b.x * b.x)
        >> alias("transform_df")
    )


@materialize(input_type=SQLTableImpl, lazy=True)
def task_transform_sql(a: pdt.Table, b: pdt.Table):
    return (
        a >> left_join(b, pk_match(a, b)) >> mutate(x2=b.x * b.x)
        >> alias("transform_sql")
    )


@materialize(input_type=ibis.api.Table, lazy=True)
def task_ibis(a: ibis.api.Table, b: ibis.api.Table):
    return a.left_join(b, pk_match(a, b)).mutate(x2=b.x * b.x)


@materialize(input_type=sa.Table, lazy=True)
def task_sqlalchemy(a: sa.Table, b: sa.Table):
    return sa.select(
        *a.c,
        *[c for c in b.c if c.name not in a.c],
        (b.c.x * b.c.x).label("x2"),
    ).select_from(a.outerjoin(b, pk_match_sa(a, b)))


@materialize(input_type=sa.Table, lazy=True)
def task_sql(a: sa.Table, b: sa.Table):
    return sa.text(f"""
        SELECT
            a.*,
            b.*,
            b.x * b.x AS x2
        FROM {a.original.schema}.{a.name} AS a
        LEFT JOIN {b.original.schema}.{b.name} AS b
        ON a.pk = b.pk
    """)

#### define remaining tasks and helper functions

In [2]:
@pdt.verb
def transmute(tbl, **kwargs):
    return tbl >> select() >> mutate(**kwargs)


@pdt.verb
def trim_all_str(tbl):
    for col in tbl:
        if col._.dtype == "str":
            tbl[col] = col.strip()
    return tbl


def pk(x: pdt.Table):
    # This is just a placeholder.
    # Ideally there would be a global function in pydiverse transform to
    # get the primary key (and another one to get the table / col name)
    return x.pk


def pk_match(x: pdt.Table, y: pdt.Table):
    return pk(x) == pk(y)


def pk_match_sa(x: sa.Table, y: sa.Table):
    # # we lost the primary_key already or duckdb cannot reflect it
    # cond = sa.literal(True)
    # for col in y.original.primary_key:
    #     if col not in x.c:
    #         cond &= x.c[col] == y.c[col]
    return x.c.pk == y.c.pk  # hack: assume primary key is always on column pk

def get_named_tables(tables: list[pdt.Table]) -> dict[str, pdt.Table]:
    return {tbl._impl.name: tbl for tbl in tables}


@materialize(version="1.0.0")
def read_input_data(src_dir="data/pipedag_example_data"):
    return [
        Table(pd.read_csv(os.path.join(src_dir, file)), name=file.removesuffix(".csv.gz"))
        for file in os.listdir(src_dir)
        if file.endswith(".csv.gz")
    ]


@materialize(input_type=SQLTableImpl, lazy=True, nout=3)
def clean(src_tbls: list[pdt.Table]):
    out_tbls = [tbl >> trim_all_str() for tbl in src_tbls]
    named_tbls = get_named_tables(out_tbls)
    a = named_tbls["a"]
    b = named_tbls["b"]
    c = named_tbls["c"]
    return a, b, c


@materialize(input_type=ibis.api.Table, version="1.0.0")
def check_x2_sum(tbls: list[ibis.api.Table]):
    all_x2_sum = None
    for tbl in tbls:
        x2_sum = tbl.x2.sum().to_pandas()
        if all_x2_sum is None:
            all_x2_sum = x2_sum
        else:
            assert x2_sum == all_x2_sum

#### define pipeline:

In [3]:
def get_pipeline():
    tasks = [task_pandas, task_polars, task_transform_df, task_transform_sql,
             task_ibis, task_sqlalchemy, task_sql]
    with Flow("flow") as flow:
        with Stage("x1_raw_input"):
            raw_tbls = read_input_data()

        with Stage("x2_clean_input"):
            a, b, c = clean(raw_tbls)

        with Stage("x3_transformed_data"):
            out_tbls = [task(a, b) for task in tasks]

        with Stage("x4_check"):
            check_x2_sum(out_tbls)

    return flow

#### setup logging:

In [4]:
import logging
from pydiverse.pipedag.util.structlog import setup_logging
setup_logging(log_level=logging.INFO)

#### run pipeline:

In [5]:
flow = get_pipeline()
result = flow.run()
result.visualize()
assert result.successful

2023-08-08 13:29:30.131052 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2023-08-08 13:29:30.139182 [info     ] Starting IPCServer             [RunContextServer] address=tcp://127.0.0.1:34283
2023-08-08 13:29:30.142004 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2023-08-08 13:29:30.189611 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS pipedag_metadata
2023-08-08 13:29:30.220354 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS x1_raw_input
2023-08-08 13:29:30.221408 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS x1_raw_input__even CASCADE
2023-08-08 13:29:30.228556 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA x1_raw_input__even
2023-08-08 13:29:30.262467 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x1_raw_input__even.a AS
    SELECT *
    FROM x1_raw_input.a
2023-08-08 13:29:30.276766 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x1_raw_input__even.b AS
    SELECT *
    FROM x1_raw_input.b
2023-08-08 13:29:30.288390 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x1_raw_input__even.c AS
    SELECT *
    FROM x1_raw_input.c
2023-08-08 13:29:30.300141 [info     ] Found task in cache. Using cached result. [Task 'read_input_data'] task=<Task 'read_input_data' 0x7fc249a01600 (id: 0)>
2023-08-08 13:29:30.303837 [info     ] Task finished successfully     [Task 'read_input_data'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'read_input_data' 0x7fc249a01600 (id: 0)>
2023-08-08 13:29:30.305985 [info     ] Committing stage               [Commit Stage] stage=<Stage: x1_raw_input>
2023-08-08 13:29:30.309970 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: x1_raw_input>
2023-08-08 13:29:30.319489 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: x1_raw_input> state=<FinalTaskState.COMPLETED: 1>
2023-08-08 13:29:30.324810 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS x2_clean_input
2023-08-08 13:29:30.325692 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS x2_clean_input__even CASCADE
2023-08-08 13:29:30.327405 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA x2_clean_input__even
2023-08-08 13:29:30.339241 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'a' (x1_raw_input)>
/home/martin/progs/miniconda3/envs/vectorization/lib/python3.10/site-packages/duckdb_engine/__init__.py:162: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2023-08-08 13:29:30.439494 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'b' (x1_raw_input)>
2023-08-08 13:29:30.513660 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'c' (x1_raw_input)>
2023-08-08 13:29:30.605978 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x2_clean_input__even.a AS
    SELECT *
    FROM x2_clean_input.a
2023-08-08 13:29:30.617348 [info     ] Lazy cache of table 'a' found  [DuckDBTableStore]
2023-08-08 13:29:30.629291 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x2_clean_input__even.b AS
    SELECT *
    FROM x2_clean_input.b
2023-08-08 13:29:30.634508 [info     ] Lazy cache of table 'b' found  [DuckDBTableStore]
2023-08-08 13:29:30.645412 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x2_clean_input__even.c AS
    SELECT *
    FROM x2_clean_input.c
2023-08-08 13:29:30.650924 [info     ] Lazy cache of table 'c' found  [DuckDBTableStore]
2023-08-08 13:29:30.662391 [info     ] Task finished successfully     [Task 'clean'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'clean' 0x7fc249a00640 (id: 2)>
2023-08-08 13:29:30.664042 [info     ] Committing stage               [Commit Stage] stage=<Stage: x2_clean_input>
2023-08-08 13:29:30.667128 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: x2_clean_input>
2023-08-08 13:29:30.676370 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: x2_clean_input> state=<FinalTaskState.COMPLETED: 1>
2023-08-08 13:29:30.681674 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS x3_transformed_data
2023-08-08 13:29:30.682908 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS x3_transformed_data__odd CASCADE
2023-08-08 13:29:30.684962 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA x3_transformed_data__odd
2023-08-08 13:29:30.709075 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data__odd.task_pandas_tunnatry47i4dkjizy5o_0000 AS
    SELECT *
    FROM x3_transformed_data.task_pandas_tunnatry47i4dkjizy5o_0000
2023-08-08 13:29:30.720096 [info     ] Found task in cache. Using cached result. [Task 'task_pandas'] task=<Task 'task_pandas' 0x7fc249a013c0 (id: 4)>
2023-08-08 13:29:30.723278 [info     ] Task finished successfully     [Task 'task_pandas'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_pandas' 0x7fc249a013c0 (id: 4)>
2023-08-08 13:29:30.736981 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data__odd.task_polars_tyzncvmv46gyh4pbhjf6_0000 AS
    SELECT *
    FROM x3_transformed_data.task_polars_tyzncvmv46gyh4pbhjf6_0000
2023-08-08 13:29:30.746845 [info     ] Found task in cache. Using cached result. [Task 'task_polars'] task=<Task 'task_polars' 0x7fc249a01360 (id: 5)>
2023-08-08 13:29:30.749682 [info     ] Task finished successfully     [Task 'task_polars'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_polars' 0x7fc249a01360 (id: 5)>
2023-08-08 13:29:30.764838 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data__odd.a AS
    SELECT *
    FROM x3_transformed_data.a
2023-08-08 13:29:30.773484 [info     ] Found task in cache. Using cached result. [Task 'task_transform_df'] task=<Task 'task_transform_df' 0x7fc249a013f0 (id: 6)>
2023-08-08 13:29:30.775590 [info     ] Task finished successfully     [Task 'task_transform_df'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_transform_df' 0x7fc249a013f0 (id: 6)>
2023-08-08 13:29:30.782753 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'a' (x2_clean_input)>
2023-08-08 13:29:30.857972 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'b' (x2_clean_input)>
2023-08-08 13:29:30.939790 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data__odd.transform_sql AS
    SELECT *
    FROM x3_transformed_data.transform_sql
2023-08-08 13:29:30.951041 [info     ] Lazy cache of table 'transform_sql' found [DuckDBTableStore]
2023-08-08 13:29:30.960374 [info     ] Task finished successfully     [Task 'task_transform_sql'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_transform_sql' 0x7fc249a03a90 (id: 7)>
2023-08-08 13:29:30.968639 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'> table=<Table 'a' (x2_clean_input)>
2023-08-08 13:29:31.078285 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'> table=<Table 'b' (x2_clean_input)>
2023-08-08 13:29:31.304637 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data__odd.task_ibis_zbu5jvlwrj3jlqkuiohv_0000 AS
    SELECT *
    FROM x3_transformed_data.task_ibis_zbu5jvlwrj3jlqkuiohv_0000
2023-08-08 13:29:31.315892 [info     ] Lazy cache of table 'task_ibis_zbu5jvlwrj3jlqkuiohv_0000' found [DuckDBTableStore]
2023-08-08 13:29:31.326759 [info     ] Task finished successfully     [Task 'task_ibis'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_ibis' 0x7fc249a02530 (id: 8)>
2023-08-08 13:29:31.335674 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'> table=<Table 'a' (x2_clean_input)>
/home/martin/progs/miniconda3/envs/vectorization/lib/python3.10/site-packages/duckdb_engine/__init__.py:162: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2023-08-08 13:29:31.414203 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'> table=<Table 'b' (x2_clean_input)>
2023-08-08 13:29:31.502451 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data__odd.task_sqlalchemy_qvazvchzg6wcriolrns3_0000 AS
    SELECT *
    FROM x3_transformed_data.task_sqlalchemy_qvazvchzg6wcriolrns3_0000
2023-08-08 13:29:31.514063 [info     ] Lazy cache of table 'task_sqlalchemy_qvazvchzg6wcriolrns3_0000' found [DuckDBTableStore]
2023-08-08 13:29:31.524309 [info     ] Task finished successfully     [Task 'task_sqlalchemy'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_sqlalchemy' 0x7fc249a02ce0 (id: 9)>
2023-08-08 13:29:31.534005 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'> table=<Table 'a' (x2_clean_input)>
2023-08-08 13:29:31.615405 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'> table=<Table 'b' (x2_clean_input)>
2023-08-08 13:29:31.699065 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=x3_transformed_data table=task_sql_dhn42qjk3stm2zrlwe5i_0000
2023-08-08 13:29:31.716868 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.task_sql_dhn42qjk3stm2zrlwe5i_0000 AS

            SELECT
                a.*,
                b.*,
                b.x * b.x AS x2
            FROM x2_clean_input.a AS a
            LEFT JOIN x2_clean_input.b AS b
            ON a.pk = b.pk
2023-08-08 13:29:31.719539 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.task_pandas_tunnatry47i4dkjizy5o_0000__copy AS
    SELECT *
    FROM x3_transformed_data.task_pandas_tunnatry47i4dkjizy5o_0000
2023-08-08 13:29:31.727317 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.transform_sql__copy AS
    SELECT *
    FROM x3_transformed_data.transform_sql
2023-08-08 13:29:31.730580 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.task_ibis_zbu5jvlwrj3jlqkuiohv_0000__copy AS
    SELECT *
    FROM x3_transformed_data.task_ibis_zbu5jvlwrj3jlqkuiohv_0000
2023-08-08 13:29:31.731152 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.task_polars_tyzncvmv46gyh4pbhjf6_0000__copy AS
    SELECT *
    FROM x3_transformed_data.task_polars_tyzncvmv46gyh4pbhjf6_0000
2023-08-08 13:29:31.732323 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.task_sqlalchemy_qvazvchzg6wcriolrns3_0000__copy AS
    SELECT *
    FROM x3_transformed_data.task_sqlalchemy_qvazvchzg6wcriolrns3_0000
2023-08-08 13:29:31.733322 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE x3_transformed_data__odd.a__copy AS
    SELECT *
    FROM x3_transformed_data.a
2023-08-08 13:29:31.745139 [info     ] Task finished successfully     [Task 'task_sql'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_sql' 0x7fc249a02260 (id: 10)>
2023-08-08 13:29:31.747004 [info     ] Committing stage               [Commit Stage] stage=<Stage: x3_transformed_data>
2023-08-08 13:29:31.749348 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data__odd.task_pandas_tunnatry47i4dkjizy5o_0000
2023-08-08 13:29:31.749541 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data__odd.task_polars_tyzncvmv46gyh4pbhjf6_0000
2023-08-08 13:29:31.749999 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data__odd.a
2023-08-08 13:29:31.750320 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data__odd.task_sqlalchemy_qvazvchzg6wcriolrns3_0000
2023-08-08 13:29:31.750617 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data__odd.task_ibis_zbu5jvlwrj3jlqkuiohv_0000
2023-08-08 13:29:31.750681 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data__odd.transform_sql
2023-08-08 13:29:31.754457 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE x3_transformed_data__odd.task_pandas_tunnatry47i4dkjizy5o_0000__copy RENAME TO task_pandas_tunnatry47i4dkjizy5o_0000
2023-08-08 13:29:31.756022 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE x3_transformed_data__odd.a__copy RENAME TO a
2023-08-08 13:29:31.756318 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE x3_transformed_data__odd.task_sqlalchemy_qvazvchzg6wcriolrns3_0000__copy RENAME TO task_sqlalchemy_qvazvchzg6wcriolrns3_0000
2023-08-08 13:29:31.757556 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE x3_transformed_data__odd.task_polars_tyzncvmv46gyh4pbhjf6_0000__copy RENAME TO task_polars_tyzncvmv46gyh4pbhjf6_0000
2023-08-08 13:29:31.758944 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE x3_transformed_data__odd.task_ibis_zbu5jvlwrj3jlqkuiohv_0000__copy RENAME TO task_ibis_zbu5jvlwrj3jlqkuiohv_0000
2023-08-08 13:29:31.760348 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE x3_transformed_data__odd.transform_sql__copy RENAME TO transform_sql
2023-08-08 13:29:31.778085 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.task_ibis_zbu5jvlwrj3jlqkuiohv_0000
2023-08-08 13:29:31.779032 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.task_sqlalchemy_qvazvchzg6wcriolrns3_0000
2023-08-08 13:29:31.779982 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.task_polars_tyzncvmv46gyh4pbhjf6_0000
2023-08-08 13:29:31.780767 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.transform_sql
2023-08-08 13:29:31.781535 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.a
2023-08-08 13:29:31.782656 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.task_pandas_tunnatry47i4dkjizy5o_0000
2023-08-08 13:29:31.783568 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW x3_transformed_data.task_sql_dhn42qjk3stm2zrlwe5i_0000
2023-08-08 13:29:31.794155 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.a AS
    SELECT *
    FROM x3_transformed_data__odd.a
2023-08-08 13:29:31.797091 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.task_sqlalchemy_qvazvchzg6wcriolrns3_0000 AS
    SELECT *
    FROM x3_transformed_data__odd.task_sqlalchemy_qvazvchzg6wcriolrns3_0000
2023-08-08 13:29:31.799566 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.task_polars_tyzncvmv46gyh4pbhjf6_0000 AS
    SELECT *
    FROM x3_transformed_data__odd.task_polars_tyzncvmv46gyh4pbhjf6_0000
2023-08-08 13:29:31.801934 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.task_ibis_zbu5jvlwrj3jlqkuiohv_0000 AS
    SELECT *
    FROM x3_transformed_data__odd.task_ibis_zbu5jvlwrj3jlqkuiohv_0000
2023-08-08 13:29:31.804344 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.transform_sql AS
    SELECT *
    FROM x3_transformed_data__odd.transform_sql
2023-08-08 13:29:31.806360 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.task_pandas_tunnatry47i4dkjizy5o_0000 AS
    SELECT *
    FROM x3_transformed_data__odd.task_pandas_tunnatry47i4dkjizy5o_0000
2023-08-08 13:29:31.808349 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW x3_transformed_data.task_sql_dhn42qjk3stm2zrlwe5i_0000 AS
    SELECT *
    FROM x3_transformed_data__odd.task_sql_dhn42qjk3stm2zrlwe5i_0000
2023-08-08 13:29:31.818945 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: x3_transformed_data> state=<FinalTaskState.COMPLETED: 1>
2023-08-08 13:29:31.823355 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS x4_check
2023-08-08 13:29:31.824376 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS x4_check__odd CASCADE
2023-08-08 13:29:31.826228 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA x4_check__odd
2023-08-08 13:29:31.834677 [info     ] Failed to retrieve task from cache [Task 'check_x2_sum'] cause=Couldn't retrieve task from cache: <Task 'check_x2_sum' 0x7fc1d0c81ae0 (id: 12)> task=<Task 'check_x2_sum' 0x7fc1d0c81ae0 (id: 12)>
2023-08-08 13:29:31.836271 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'> table=<Table 'task_pandas_tunnatry47i4dkjizy5o_0000' (x3_transformed_data)>
2023-08-08 13:29:31.921935 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'> table=<Table 'task_polars_tyzncvmv46gyh4pbhjf6_0000' (x3_transformed_data)>
2023-08-08 13:29:31.996368 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'> table=<Table 'a' (x3_transformed_data)>