# introduction to the vectorizing principle

## part 5b: generating SQL and dataframe transformation code with one syntax - an example pipeline

While pandas is the most popular library for describing data transformations in python, there are more which you will also see in following parts. Relational databases are also a means of highly efficient processing of tabular data. They are typically instructed with a declarative language called SQL which allows for highly sophisticated query engines to first plan how to execute the query. From a large search space of possible execution plans they chose the supposedly best one by using computation cost estimators.

For having a quick look at the data or for searching bugs in previously executed transformation code, it is highly efficient to write ad-hoc SQL scripts by hand. However, for better software engineering practices such as testing, programmatically creating SQL is the preferred option. In fact, it would be ideal to have one syntax from which both dataframe transformation code and SQL can be generated. This is what we show in this part.

The library [pydiverse.transform](https://github.com/pydiverse/pydiverse.transform/) is used here even though it is early stage and still lacks essential features. It is intended as a proof of concept for this idea.

Pandas uses the fluent interface technique chaining functional methods with multiple function calls: `df.assign(x=lambda df: df.int_col*2).loc[lambda df: df.x == 4]`

pydiverse.transform uses the pipe syntax instead, similar to its precursors [dplyr from R](https://dplyr.tidyverse.org/) and [siuba](https://siuba.org/): `df >> mutate(x=λ.int_col*2) >> filter(λ.x == 4)`

pydiverse.transform also supports creating custom verbs with the `@verb` decorator which then can be used within a pipe just like builtin verbs such as `mutate` or `filter`.

Detail: In SQL, joining a table does not add any new columns to the select statement. It rather brings a new table within the namespace that can be used for creating select columns. pydiverse.transform supports this feature by dropping columns with an empty `select()` statement which does not remove them from the namespace for further use in `mutate()` statements.

#### define tasks and helper functions

In [2]:
import os

import pandas as pd
import pydiverse.transform as pdt
import xgboost
import xgboost as xgb
from pydiverse.pipedag import Blob, Flow, Stage, Table, materialize
from pydiverse.transform import aligned, λ
from pydiverse.transform.core.verbs import (
    alias,
    collect,
    filter,
    left_join,
    mutate,
    select,
)
from pydiverse.transform.eager import PandasTableImpl
from pydiverse.transform.lazy import SQLTableImpl


@pdt.verb
def transmute(tbl, **kwargs):
    return tbl >> select() >> mutate(**kwargs)


@pdt.verb
def trim_all_str(tbl):
    for col in tbl:
        if col._.dtype == "str":
            tbl[col] = col.strip()
    return tbl


def pk(x: pdt.Table):
    # This is just a placeholder.
    # Ideally there would be a global function in pydiverse transform to
    # get the primary key (and another one to get the table / col name)
    return x.pk


def pk_match(x: pdt.Table, y: pdt.Table):
    return pk(x) == pk(y)


def get_named_tables(tables: list[pdt.Table]) -> dict[str, pdt.Table]:
    return {tbl._impl.name: tbl for tbl in tables}


@materialize(version="1.0.0")
def read_input_data(src_dir="data/pipedag_example_data"):
    return [
        Table(pd.read_csv(os.path.join(src_dir, file)), name=file.removesuffix(".csv.gz"))
        for file in os.listdir(src_dir)
        if file.endswith(".csv.gz")
    ]


@materialize(input_type=SQLTableImpl, lazy=True)
def clean(src_tbls: list[pdt.Table]):
    return [tbl >> trim_all_str() for tbl in src_tbls]


@materialize(input_type=SQLTableImpl, lazy=True, nout=3)
def transform(src_tbls: list[pdt.Table]):
    named_tbls = get_named_tables(src_tbls)
    a = named_tbls["a"]
    b = named_tbls["b"]
    c = named_tbls["c"]

    def join_b(a):
        return a >> left_join(b >> select(), pk_match(a, b))

    new_a = join_b(a) >> mutate(x=b.x)
    new_b = b
    new_c = c

    return new_a, new_b, new_c


@materialize(input_type=SQLTableImpl, lazy=True)
def lazy_features(a: pdt.Table, src_tbls: list[pdt.Table]):
    named_tbls = get_named_tables(src_tbls)
    b = named_tbls["b"]
    return (
        a
        >> left_join(b, pk_match(a, b))
        >> transmute(pk=pk(a), aiige=a.age, y=b.y, z=b.z * 2)
        >> alias("lazy_features")
    )


@materialize(input_type=PandasTableImpl, version="2.3.5")
def eager_features(a: pdt.Table, src_tbls: list[pdt.Table]):
    named_tbls = get_named_tables(src_tbls)
    c = named_tbls["c"]
    return (
        a
        >> left_join(c, pk_match(a, c))
        >> transmute(pk=pk(a), xx=c.x, yy=c.y * 2, zz=c.z + 3)
        >> alias("eager_features")
    )


@materialize(input_type=SQLTableImpl, lazy=True)
def combine_features(features1: pdt.Table, features2: pdt.Table):
    return (
        features1
        >> left_join(
            features2 >> select(-pk(features2)), pk_match(features1, features2)
        )
        >> alias("features")
    )


@materialize(input_type=SQLTableImpl, lazy=True, nout=2)
def train_and_test_set(flat_table: pdt.Table, features: pdt.Table):
    tbl = (
        flat_table
        >> left_join(features, pk_match(flat_table, features))
        >> mutate(row_num=pdt.functions.row_number(arrange=[pk(flat_table)]))
        >> select(-pk(flat_table), -pk(features))
    )

    training_set = (
        tbl
        >> filter(λ.row_num % 10 != 0)
        >> select(-λ.row_num)
        >> alias("training_set")
    )
    test_set = (
        tbl >> filter(λ.row_num % 10 == 0) >> select(-λ.row_num) >> alias("test_set")
    )

    return (training_set, test_set)


@materialize(input_type=pd.DataFrame, version="4.5.8")
def model_training(train_set: pd.DataFrame):
    x = train_set.drop("target", axis=1)
    y = train_set["target"]
    dtrain = xgb.DMatrix(x, label=y)

    params = {"max_depth": 2, "eta": 1, "objective": "binary:logistic"}
    model = xgb.train(params, dtrain)

    return Blob(model, "model")


@aligned(with_="test_set")
def predict(model: xgboost.Booster, test_set: pdt.Table):
    x = test_set >> select(-λ.target) >> collect()

    # Ugly hack to convert new pandas dtypes to numpy dtypes, because xgboost
    # requires numpy dtypes.
    x = x.astype(
        x.dtypes.map(lambda d: d.numpy_dtype if hasattr(d, "numpy_dtype") else d)
    )

    dx = xgb.DMatrix(x)
    predict_col = model.predict(dx)

    return pdt.Table(
        PandasTableImpl("prediction", pd.DataFrame({"prediction": predict_col}))
    ).prediction


@materialize(input_type=PandasTableImpl, version="3.4.5")
def model_evaluation(model: xgboost.Booster, test_set: pdt.Table):
    prediction = predict(model, test_set)  # produces an aligned vector with input
    return (
        test_set
        >> select(λ.target)
        >> mutate(prediction=prediction)
        >> mutate(abs_error=abs(λ.target - λ.prediction))
        >> alias("evaluation")
    )

#### define pipeline:

In [3]:
def get_pipeline():
    with Flow("flow") as flow:
        with Stage("1_raw_input"):
            raw_tbls = read_input_data()

        with Stage("2_clean_input"):
            clean_tbls = clean(raw_tbls)

        with Stage("3_transformed_data"):
            a, b, c = transform(clean_tbls)

        with Stage("4_features"):
            features1 = lazy_features(a, [a, b, c])  # s3.tbls
            features2 = eager_features(a, [a, b, c])  # s3.tbls
            features = combine_features(features1, features2)

        with Stage("5_model"):
            train_set, test_set = train_and_test_set(a, features)
            model = model_training(train_set)

        with Stage("6_evaluation"):
            _ = model_evaluation(model, test_set)

    return flow

#### setup logging:

In [4]:
import logging
from pydiverse.pipedag.util.structlog import setup_logging
setup_logging(log_level=logging.INFO)

#### run pipeline:

In [6]:
flow = get_pipeline()
result = flow.run()
result.visualize()
assert result.successful

2023-08-06 12:16:48.984534 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2023-08-06 12:16:48.989155 [info     ] Starting IPCServer             [RunContextServer] address=tcp://127.0.0.1:41715
2023-08-06 12:16:48.995797 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2023-08-06 12:16:49.013481 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS pipedag_metadata
2023-08-06 12:16:49.025376 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS "1_raw_input"
2023-08-06 12:16:49.027244 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS "1_raw_input__even" CASCADE
2023-08-06 12:16:49.029435 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA "1_raw_input__even"
2023-08-06 12:16:49.063850 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "1_raw_input__even".a AS
    SELECT *
    FROM "1_raw_input".a
2023-08-06 12:16:49.079033 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "1_raw_input__even".b AS
    SELECT *
    FROM "1_raw_input".b
2023-08-06 12:16:49.091205 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "1_raw_input__even".c AS
    SELECT *
    FROM "1_raw_input".c
2023-08-06 12:16:49.102752 [info     ] Found task in cache. Using cached result. [Task 'read_input_data'] task=<Task 'read_input_data' 0x7f781794eb30 (id: 0)>
2023-08-06 12:16:49.106294 [info     ] Task finished successfully     [Task 'read_input_data'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'read_input_data' 0x7f781794eb30 (id: 0)>
2023-08-06 12:16:49.108305 [info     ] Committing stage               [Commit Stage] stage=<Stage: 1_raw_input>
2023-08-06 12:16:49.112203 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: 1_raw_input>
2023-08-06 12:16:49.121873 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: 1_raw_input> state=<FinalTaskState.COMPLETED: 1>
2023-08-06 12:16:49.127775 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS "2_clean_input"
2023-08-06 12:16:49.129535 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS "2_clean_input__even" CASCADE
2023-08-06 12:16:49.131694 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA "2_clean_input__even"
2023-08-06 12:16:49.143323 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'a' (1_raw_input)>
/home/martin/progs/miniconda3/envs/vectorization/lib/python3.10/site-packages/duckdb_engine/__init__.py:162: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2023-08-06 12:16:49.233648 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'b' (1_raw_input)>
2023-08-06 12:16:49.316203 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'c' (1_raw_input)>
2023-08-06 12:16:49.437881 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "2_clean_input__even".a AS
    SELECT *
    FROM "2_clean_input".a
2023-08-06 12:16:49.453339 [info     ] Lazy cache of table 'a' found  [DuckDBTableStore]
2023-08-06 12:16:49.478467 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "2_clean_input__even".b AS
    SELECT *
    FROM "2_clean_input".b
2023-08-06 12:16:49.489176 [info     ] Lazy cache of table 'b' found  [DuckDBTableStore]
2023-08-06 12:16:49.504141 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "2_clean_input__even".c AS
    SELECT *
    FROM "2_clean_input".c
2023-08-06 12:16:49.512921 [info     ] Lazy cache of table 'c' found  [DuckDBTableStore]
2023-08-06 12:16:49.524473 [info     ] Task finished successfully     [Task 'clean'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'clean' 0x7f781794db10 (id: 2)>
2023-08-06 12:16:49.526584 [info     ] Committing stage               [Commit Stage] stage=<Stage: 2_clean_input>
2023-08-06 12:16:49.530520 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: 2_clean_input>
2023-08-06 12:16:49.540700 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: 2_clean_input> state=<FinalTaskState.COMPLETED: 1>
2023-08-06 12:16:49.546818 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS "3_transformed_data"
2023-08-06 12:16:49.547914 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS "3_transformed_data__even" CASCADE
2023-08-06 12:16:49.549447 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA "3_transformed_data__even"
2023-08-06 12:16:49.562710 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'a' (2_clean_input)>
2023-08-06 12:16:49.642388 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'b' (2_clean_input)>
2023-08-06 12:16:49.724876 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'c' (2_clean_input)>
2023-08-06 12:16:49.820038 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "3_transformed_data__even".a AS
    SELECT *
    FROM "3_transformed_data".a
2023-08-06 12:16:49.831813 [info     ] Lazy cache of table 'a' found  [DuckDBTableStore]
2023-08-06 12:16:49.845247 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "3_transformed_data__even".b AS
    SELECT *
    FROM "3_transformed_data".b
2023-08-06 12:16:49.851885 [info     ] Lazy cache of table 'b' found  [DuckDBTableStore]
2023-08-06 12:16:49.867045 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "3_transformed_data__even".c AS
    SELECT *
    FROM "3_transformed_data".c
2023-08-06 12:16:49.873881 [info     ] Lazy cache of table 'c' found  [DuckDBTableStore]
2023-08-06 12:16:49.884523 [info     ] Task finished successfully     [Task 'transform'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'transform' 0x7f781794e110 (id: 4)>
2023-08-06 12:16:49.886587 [info     ] Committing stage               [Commit Stage] stage=<Stage: 3_transformed_data>
2023-08-06 12:16:49.890685 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: 3_transformed_data>
2023-08-06 12:16:49.900994 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: 3_transformed_data> state=<FinalTaskState.COMPLETED: 1>
2023-08-06 12:16:49.906621 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS "4_features"
2023-08-06 12:16:49.908169 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS "4_features__odd" CASCADE
2023-08-06 12:16:49.910805 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA "4_features__odd"
2023-08-06 12:16:49.922525 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'a' (3_transformed_data)>
2023-08-06 12:16:50.029144 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'b' (3_transformed_data)>
2023-08-06 12:16:50.126827 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'c' (3_transformed_data)>
2023-08-06 12:16:50.257836 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "4_features__odd".lazy_features AS
    SELECT *
    FROM "4_features".lazy_features
2023-08-06 12:16:50.270700 [info     ] Lazy cache of table 'lazy_features' found [DuckDBTableStore]
2023-08-06 12:16:50.288865 [info     ] Task finished successfully     [Task 'lazy_features'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'lazy_features' 0x7f781794ee00 (id: 6)>
2023-08-06 12:16:50.312129 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "4_features__odd".eager_features AS
    SELECT *
    FROM "4_features".eager_features
2023-08-06 12:16:50.324789 [info     ] Found task in cache. Using cached result. [Task 'eager_features'] task=<Task 'eager_features' 0x7f781794eef0 (id: 7)>
2023-08-06 12:16:50.327763 [info     ] Task finished successfully     [Task 'eager_features'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'eager_features' 0x7f781794eef0 (id: 7)>
2023-08-06 12:16:50.338710 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'lazy_features' (4_features)>
2023-08-06 12:16:50.438153 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'eager_features' (4_features)>
2023-08-06 12:16:50.522445 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=4_features table=features
2023-08-06 12:16:50.535926 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE "4_features__odd".features AS
    SELECT features.pk AS pk, features.aiige AS aiige, features.y AS y, features.z AS z, features.xx_eager_features AS xx_eager_features, features.yy_eager_features AS yy_eager_features, features.zz_eager_features AS zz_eager_features
    FROM (SELECT lazy_features.pk AS pk, lazy_features.aiige AS aiige, lazy_features.y AS y, lazy_features.z AS z, eager_features.xx AS xx_eager_features, eager_features.yy AS yy_eager_features, eager_features.zz AS zz_eager_features
    FROM "4_features__odd".lazy_features AS lazy_features LEFT OUTER JOIN "4_features__odd".eager_features AS eager_features ON lazy_features.pk = eager_features.pk) AS features
2023-08-06 12:16:50.541518 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE "4_features__odd".lazy_features__copy AS
    SELECT *
    FROM "4_features".lazy_features
2023-08-06 12:16:50.547283 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE "4_features__odd".eager_features__copy AS
    SELECT *
    FROM "4_features".eager_features
2023-08-06 12:16:50.552137 [info     ] Task finished successfully     [Task 'combine_features'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'combine_features' 0x7f781794ef80 (id: 8)>
2023-08-06 12:16:50.554032 [info     ] Committing stage               [Commit Stage] stage=<Stage: 4_features>
2023-08-06 12:16:50.555438 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "4_features__odd".eager_features
2023-08-06 12:16:50.555552 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "4_features__odd".lazy_features
2023-08-06 12:16:50.558780 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE "4_features__odd".eager_features__copy RENAME TO eager_features
2023-08-06 12:16:50.560022 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    ALTER TABLE "4_features__odd".lazy_features__copy RENAME TO lazy_features
2023-08-06 12:16:50.575099 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "4_features".eager_features
2023-08-06 12:16:50.576125 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "4_features".lazy_features
2023-08-06 12:16:50.576913 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "4_features".features
2023-08-06 12:16:50.582789 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "4_features".eager_features AS
    SELECT *
    FROM "4_features__odd".eager_features
2023-08-06 12:16:50.584828 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "4_features".lazy_features AS
    SELECT *
    FROM "4_features__odd".lazy_features
2023-08-06 12:16:50.586819 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "4_features".features AS
    SELECT *
    FROM "4_features__odd".features
2023-08-06 12:16:50.597720 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: 4_features> state=<FinalTaskState.COMPLETED: 1>
2023-08-06 12:16:50.602870 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS "5_model"
2023-08-06 12:16:50.603943 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS "5_model__odd" CASCADE
2023-08-06 12:16:50.605692 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA "5_model__odd"
2023-08-06 12:16:50.615080 [info     ] Failed to retrieve task from cache [Task 'train_and_test_set'] cause=Couldn't retrieve task from cache: <Task 'train_and_test_set' 0x7f781794f070 (id: 10)> task=<Task 'train_and_test_set' 0x7f781794f070 (id: 10)>
2023-08-06 12:16:50.616994 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'a' (3_transformed_data)>
2023-08-06 12:16:50.782522 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=5_model table=training_set
2023-08-06 12:16:50.793792 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE "5_model__odd".training_set AS
    SELECT training_set.age AS age, training_set.target AS target, training_set.x AS x, training_set.aiige_features AS aiige_features, training_set.y_features AS y_features, training_set.z_features AS z_features, training_set.xx_eager_features_features AS xx_eager_features_features, training_set.yy_eager_features_features AS yy_eager_features_features, training_set.zz_eager_features_features AS zz_eager_features_features
    FROM (SELECT anon_1.age AS age, anon_1.target AS target, anon_1.x AS x, anon_1.aiige_features AS aiige_features, anon_1.y_features AS y_features, anon_1.z_features AS z_features, anon_1.xx_eager_features_features AS xx_eager_features_features, anon_1.yy_eager_features_features AS yy_eager_features_features, anon_1.zz_eager_features_features AS zz_eager_features_features
    FROM (SELECT a.age AS age, a.target AS target, a.x AS x, features.aiige AS aiige_features, features.y AS y_features, features.z AS z_features, features.xx_eager_features AS xx_eager_features_features, features.yy_eager_features AS yy_eager_features_features, features.zz_eager_features AS zz_eager_features_features, ROW_NUMBER() OVER (ORDER BY a.pk ASC NULLS LAST) AS row_num, a.pk AS pk, features.pk AS pk_features
    FROM "3_transformed_data".a AS a LEFT OUTER JOIN "4_features".features AS features ON a.pk = features.pk) AS anon_1
    WHERE anon_1.row_num % 10 != 0) AS training_set
2023-08-06 12:16:50.805630 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=5_model table=test_set
2023-08-06 12:16:50.811674 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE "5_model__odd".test_set AS
    SELECT test_set.age AS age, test_set.target AS target, test_set.x AS x, test_set.aiige_features AS aiige_features, test_set.y_features AS y_features, test_set.z_features AS z_features, test_set.xx_eager_features_features AS xx_eager_features_features, test_set.yy_eager_features_features AS yy_eager_features_features, test_set.zz_eager_features_features AS zz_eager_features_features
    FROM (SELECT anon_1.age AS age, anon_1.target AS target, anon_1.x AS x, anon_1.aiige_features AS aiige_features, anon_1.y_features AS y_features, anon_1.z_features AS z_features, anon_1.xx_eager_features_features AS xx_eager_features_features, anon_1.yy_eager_features_features AS yy_eager_features_features, anon_1.zz_eager_features_features AS zz_eager_features_features
    FROM (SELECT a.age AS age, a.target AS target, a.x AS x, features.aiige AS aiige_features, features.y AS y_features, features.z AS z_features, features.xx_eager_features AS xx_eager_features_features, features.yy_eager_features AS yy_eager_features_features, features.zz_eager_features AS zz_eager_features_features, ROW_NUMBER() OVER (ORDER BY a.pk ASC NULLS LAST) AS row_num, a.pk AS pk, features.pk AS pk_features
    FROM "3_transformed_data".a AS a LEFT OUTER JOIN "4_features".features AS features ON a.pk = features.pk) AS anon_1
    WHERE anon_1.row_num % 10 = 0) AS test_set
2023-08-06 12:16:50.826216 [info     ] Task finished successfully     [Task 'train_and_test_set'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'train_and_test_set' 0x7f781794f070 (id: 10)>
2023-08-06 12:16:50.833507 [info     ] Failed to retrieve task from cache [Task 'model_training'] cause=Couldn't retrieve task from cache: <Task 'model_training' 0x7f7817a19fc0 (id: 11)> task=<Task 'model_training' 0x7f7817a19fc0 (id: 11)>
2023-08-06 12:16:50.952707 [info     ] Task finished successfully     [Task 'model_training'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'model_training' 0x7f7817a19fc0 (id: 11)>
2023-08-06 12:16:50.957328 [info     ] Committing stage               [Commit Stage] stage=<Stage: 5_model>
2023-08-06 12:16:50.967211 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "5_model".test_set
2023-08-06 12:16:50.968081 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW "5_model".training_set
2023-08-06 12:16:50.975726 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "5_model".test_set AS
    SELECT *
    FROM "5_model__odd".test_set
2023-08-06 12:16:50.978568 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW "5_model".training_set AS
    SELECT *
    FROM "5_model__odd".training_set
2023-08-06 12:16:50.988777 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: 5_model> state=<FinalTaskState.COMPLETED: 1>
2023-08-06 12:16:50.994377 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS "6_evaluation"
2023-08-06 12:16:50.995796 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS "6_evaluation__odd" CASCADE
2023-08-06 12:16:50.998594 [info     ] Executing sql                  [DuckDBTableStore]

Next: [vectorization06.ipynb](vectorization06.ipynb): many ways to describe data transformations in python