In [1]:
import pandas as pd
df = pd.DataFrame(dict(int_col=[1,2,3], str_col=["a", "b", "c"]))
df

   int_col str_col
0        1       a
1        2       b
2        3       c

In [9]:
for i, row in df.iterrows():
    print(i, type(row["int_col"]), row["int_col"], type(row["str_col"]), row["str_col"])

0 <class 'int'> 1 <class 'str'> a
1 <class 'int'> 2 <class 'str'> b
2 <class 'int'> 3 <class 'str'> c

In [7]:
out = pd.Series(0, index=range(len(df)))
for i, row in df.iterrows():
    out[i] = row["int_col"] * 2
out

0    2
1    4
2    6
dtype: int64

In [13]:
print(type(df["int_col"]))
df.dtypes

<class 'pandas.core.series.Series'>

int_col     int64
str_col    object
dtype: object

In [4]:
out2 = df["int_col"] * 2
out2

0    2
1    4
2    6
Name: int_col, dtype: int64

In [14]:
df["out3"] = df["int_col"] * out
df

   int_col str_col  out3
0        1       a     2
1        2       b     8
2        3       c    18