# introduction to the vectorizing principle

## part 7: aggregation functions

The core of the vectorizing principle is treating rows separately. In this part, we look on 
aggregation functions which group the data and perform vectorized operations on each group.

#### the following code shows an aggregation function call in different libraries:

In [1]:
import pandas as pd
import polars as pl
import sqlalchemy as sa
import ibis
from ibis import _ as col
import pydiverse.transform as pdt
from pydiverse.pipedag import Flow, Stage, Table, materialize
from pydiverse.transform import λ
from pydiverse.transform.core.verbs import (
    mutate, select, alias, group_by, summarise, arrange,
)
from pydiverse.transform.eager import PandasTableImpl
from pydiverse.transform.lazy import SQLTableImpl


@materialize(input_type=pd.DataFrame, version="1.0.0")
def task_pandas(titanic: pd.DataFrame):
    return (
        titanic
        .assign(age_bucket=(titanic.age + 4.999).round(-1))
        .groupby("age_bucket")
        .agg(samples=("age_bucket", "count"), survival_likelyhood=("survived", "mean"))
        .sort_values("age_bucket")
    )


@materialize(input_type=pl.DataFrame, version="1.0.0")
def task_polars(titanic: pl.DataFrame):
    return (
        titanic
        .with_columns(age_bucket=(((pl.col("age") + 4.999) / 10).round() * 10))
        .groupby("age_bucket")
        .agg(samples=pl.col("age_bucket").count(),
             survival_likelyhood=pl.col("survived").mean())
        .sort("age_bucket")
    )


@materialize(input_type=PandasTableImpl, version="1.0.0")
def task_transform_df(titanic: pdt.Table):
    return (
        titanic
        >> mutate(age_bucket = round(λ.age + 4.999, -1))
        >> group_by(λ.age_bucket)
        >> summarise(samples=λ.age_bucket.count(),
                    survival_likelyhood=λ.survived.mean())
        >> arrange(λ.age_bucket)
        >> alias("transform_df")
    )


@materialize(input_type=SQLTableImpl, lazy=True)
def task_transform_sql(titanic: pdt.Table):
    return (
        titanic
        >> mutate(age_bucket = round(λ.age + 4.999, -1))
        >> group_by(λ.age_bucket)
        >> summarise(samples=λ.age_bucket.count(),
                    survival_likelyhood=λ.survived.mean())
        >> arrange(λ.age_bucket)
        >> alias("transform_sql")
    )


@materialize(input_type=ibis.api.Table, lazy=True)
def task_ibis(titanic: ibis.api.Table):
    return (
        titanic
        .mutate(age_bucket = (col.age + ibis.literal(4.999, "decimal")).round(-1))
        .group_by(col.age_bucket)
        .aggregate(samples=col.age_bucket.count(), survival_likelyhood=col.survived.mean())
        .order_by(col.age_bucket)
    )


@materialize(input_type=sa.Table, lazy=True)
def task_sqlalchemy(titanic: sa.Table):
    age_bucket = sa.func.round(titanic.c.age + 4.999, -1).label("age_bucket")
    return sa.select(
        age_bucket,
        sa.func.count(age_bucket).label("samples"),
        sa.func.avg(titanic.c.survived).label("survival_likelyhood")
    ).select_from(titanic).group_by(age_bucket).order_by(age_bucket)


@materialize(input_type=sa.Table, lazy=True)
def task_sql(titanic: sa.Table):
    return sa.text(f"""
        SELECT round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10        AS age_bucket,
               count(round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10) AS samples,
               AVG(titanic.survived)                                          AS survival_likelyhood
        FROM {titanic.original.schema}.{titanic.name} AS titanic
        GROUP BY round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10
        ORDER BY round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10 ASC NULLS LAST
    """)

#### define remaining tasks and helper functions

In [2]:
@materialize(version="1.0.0")
def read_input_data():
    titanic = pd.read_csv(
        'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
    )
    return Table(titanic, name="titanic")


@materialize(input_type=pd.DataFrame, version="1.0.0")
def print_tables(tbls: list[pd.DataFrame]):
    for tbl in tbls:
        print(f"\n\n{tbl}")


def get_pipeline():
    tasks = [task_pandas, task_polars, task_transform_df, task_transform_sql,
             task_ibis, task_sqlalchemy, task_sql]
    with Flow("flow") as flow:
        with Stage("t1_raw_input"):
            titanic = read_input_data()

        with Stage("t2_transformed_data"):
            out_tbls = [task(titanic) for task in tasks]
            print_tables(out_tbls)

    return flow

#### define pipeline:

In [3]:
def get_pipeline():
    tasks = [task_pandas, task_polars, task_transform_df, task_transform_sql,
             task_ibis, task_sqlalchemy, task_sql]
    with Flow("flow") as flow:
        with Stage("t1_raw_input"):
            titanic = read_input_data()

        with Stage("t2_transformed_data"):
            out_tbls = [task(titanic) for task in tasks]
            print_tables(out_tbls)

    return flow

#### setup logging:

In [4]:
import logging
from pydiverse.pipedag.util.structlog import setup_logging
setup_logging(log_level=logging.INFO)

#### run pipeline:

In [5]:
flow = get_pipeline()
result = flow.run()
result.visualize()
assert result.successful

2023-08-16 17:00:52.401724 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2023-08-16 17:00:52.408954 [info     ] Starting IPCServer             [RunContextServer] address=tcp://127.0.0.1:33309
2023-08-16 17:00:52.412029 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2023-08-16 17:00:52.449647 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS pipedag_metadata
2023-08-16 17:00:52.475549 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS t1_raw_input
2023-08-16 17:00:52.476739 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS t1_raw_input__even CASCADE
2023-08-16 17:00:52.478269 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA t1_raw_input__even
2023-08-16 17:00:52.503938 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t1_raw_input__even.titanic AS
    SELECT *
    FROM t1_raw_input.titanic
2023-08-16 17:00:52.513918 [info     ] Found task in cache. Using cached result. [Task 'read_input_data'] task=<Task 'read_input_data' 0x7f3a5956cfd0 (id: 0)>
2023-08-16 17:00:52.515893 [info     ] Task finished successfully     [Task 'read_input_data'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'read_input_data' 0x7f3a5956cfd0 (id: 0)>
2023-08-16 17:00:52.517111 [info     ] Committing stage               [Commit Stage] stage=<Stage: t1_raw_input>
2023-08-16 17:00:52.519394 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: t1_raw_input>
2023-08-16 17:00:52.526350 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: t1_raw_input> state=<FinalTaskState.COMPLETED: 1>
2023-08-16 17:00:52.529853 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS t2_transformed_data
2023-08-16 17:00:52.530633 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS t2_transformed_data__odd CASCADE
2023-08-16 17:00:52.531983 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA t2_transformed_data__odd
2023-08-16 17:00:52.545891 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.task_pandas_knng4lw75uvluken764b_0000 AS
    SELECT *
    FROM t2_transformed_data.task_pandas_knng4lw75uvluken764b_0000
2023-08-16 17:00:52.552402 [info     ] Found task in cache. Using cached result. [Task 'task_pandas'] task=<Task 'task_pandas' 0x7f39e8220430 (id: 2)>
2023-08-16 17:00:52.554981 [info     ] Task finished successfully     [Task 'task_pandas'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_pandas' 0x7f39e8220430 (id: 2)>
2023-08-16 17:00:52.564964 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.task_polars_yr2b4t44onqdejzgmsom_0000 AS
    SELECT *
    FROM t2_transformed_data.task_polars_yr2b4t44onqdejzgmsom_0000
2023-08-16 17:00:52.571621 [info     ] Found task in cache. Using cached result. [Task 'task_polars'] task=<Task 'task_polars' 0x7f39e91365c0 (id: 3)>
2023-08-16 17:00:52.573669 [info     ] Task finished successfully     [Task 'task_polars'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_polars' 0x7f39e91365c0 (id: 3)>
2023-08-16 17:00:52.584870 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.transform_df AS
    SELECT *
    FROM t2_transformed_data.transform_df
2023-08-16 17:00:52.592361 [info     ] Found task in cache. Using cached result. [Task 'task_transform_df'] task=<Task 'task_transform_df' 0x7f39e8ceadd0 (id: 4)>
2023-08-16 17:00:52.594128 [info     ] Task finished successfully     [Task 'task_transform_df'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_transform_df' 0x7f39e8ceadd0 (id: 4)>
2023-08-16 17:00:52.599506 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.SQLTableImpl'> table=<Table 'titanic' (t1_raw_input)>
/home/martin/progs/miniconda3/envs/vectorization/lib/python3.10/site-packages/duckdb_engine/__init__.py:162: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2023-08-16 17:00:52.668640 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.transform_sql AS
    SELECT *
    FROM t2_transformed_data.transform_sql
2023-08-16 17:00:52.673714 [info     ] Lazy cache of table 'transform_sql' found [DuckDBTableStore]
2023-08-16 17:00:52.682738 [info     ] Task finished successfully     [Task 'task_transform_sql'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_transform_sql' 0x7f39e80f46d0 (id: 5)>
2023-08-16 17:00:52.689514 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'> table=<Table 'titanic' (t1_raw_input)>
2023-08-16 17:00:52.922517 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.task_ibis_cglsqmokt47hkhkien6h_0000 AS
    SELECT *
    FROM t2_transformed_data.task_ibis_cglsqmokt47hkhkien6h_0000
2023-08-16 17:00:52.926509 [info     ] Lazy cache of table 'task_ibis_cglsqmokt47hkhkien6h_0000' found [DuckDBTableStore]
2023-08-16 17:00:52.933846 [info     ] Task finished successfully     [Task 'task_ibis'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_ibis' 0x7f39e80f4700 (id: 6)>
2023-08-16 17:00:52.940073 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'> table=<Table 'titanic' (t1_raw_input)>
/home/martin/progs/miniconda3/envs/vectorization/lib/python3.10/site-packages/duckdb_engine/__init__.py:162: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2023-08-16 17:00:52.999216 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.task_sqlalchemy_uuepwjyooeeuxnbzzgme_0000 AS
    SELECT *
    FROM t2_transformed_data.task_sqlalchemy_uuepwjyooeeuxnbzzgme_0000
2023-08-16 17:00:53.003539 [info     ] Lazy cache of table 'task_sqlalchemy_uuepwjyooeeuxnbzzgme_0000' found [DuckDBTableStore]
2023-08-16 17:00:53.011995 [info     ] Task finished successfully     [Task 'task_sqlalchemy'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_sqlalchemy' 0x7f39e8259f60 (id: 7)>
2023-08-16 17:00:53.017492 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'> table=<Table 'titanic' (t1_raw_input)>
2023-08-16 17:00:53.078740 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data__odd.task_sql_zvt3ug3l35bjetdswfjq_0000 AS
    SELECT *
    FROM t2_transformed_data.task_sql_zvt3ug3l35bjetdswfjq_0000
2023-08-16 17:00:53.082817 [info     ] Lazy cache of table 'task_sql_zvt3ug3l35bjetdswfjq_0000' found [DuckDBTableStore]
2023-08-16 17:00:53.091852 [info     ] Task finished successfully     [Task 'task_sql'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'task_sql' 0x7f39e825a8f0 (id: 8)>
2023-08-16 17:00:53.099727 [info     ] Found task in cache. Using cached result. [Task 'print_tables'] task=<Task 'print_tables' 0x7f39e8220760 (id: 9)>
2023-08-16 17:00:53.101577 [info     ] Task finished successfully     [Task 'print_tables'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'print_tables' 0x7f39e8220760 (id: 9)>
2023-08-16 17:00:53.102869 [info     ] Committing stage               [Commit Stage] stage=<Stage: t2_transformed_data>
2023-08-16 17:00:53.106057 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: t2_transformed_data>
2023-08-16 17:00:53.112791 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: t2_transformed_data> state=<FinalTaskState.COMPLETED: 1>
2023-08-16 17:00:53.314581 [info     ] Stopped IPCServer              [RunContextServer] address=tcp://127.0.0.1:33309
2023-08-16 17:00:53.326505 [info     ] Flow visualization             [Flow] url=https://kroki.io/graphviz/svg/eNqlkl1rwyAUhu_9FZLddpCl-SqS3e5HjCEn0bTS0yRTwyij_31JdWMf0rTMmwePPK-eg0JtNQw7-kTfiRlrt2lwNFZqbh-4hjeuumG003m9bXrsdRXdxeeVxBEjrlQjNHtG2r6zPwoItcTqew4jxh5RVqZHJRiJ6XOrED-DZdm2TR6tqBO1BOE0LsDCijo3mhUpohdGTiTw7IRbDZ1pe32Q4mz-6_V_4341sb7YhAWz50OPoE2ggXzZVbUKmcWyaV4RsNnJwzHgby76g1ad5RZqlKHLkytahk5AyE2X3a-Bc9EGErJbEqYhBCLKq6YX_nExvX-kCXNce6aemWfuWXiW89Ambub_4ph6Zp65Z-FZep7IB7IGLYA=