# introduction to the vectorizing principle

## part 7: aggregation functions

The core of the vectorizing principle is treating rows separately. In this part, we look on 
aggregation functions which group the data and perform vectorized operations on each group.

#### the following code shows an aggregation function call in different libraries:

In [1]:
import pandas as pd
import polars as pl
import sqlalchemy as sa
import ibis
from ibis import _ as col
import pydiverse.transform as pdt
from pydiverse.pipedag import Flow, Stage, Table, materialize
from pydiverse.transform import λ
from pydiverse.transform.core.verbs import (
    mutate, alias, group_by, summarise, arrange, build_query,
)
from pydiverse.transform.eager import PandasTableImpl
from pydiverse.transform.lazy import SQLTableImpl


@materialize(input_type=pd.DataFrame, version="1.0.0")
def task_pandas(titanic: pd.DataFrame):
    return (
        titanic
        .assign(age_bucket=(titanic.age + 4.999).round(-1))
        .groupby("age_bucket")
        .agg(samples=("age_bucket", "count"), survival_likelyhood=("survived", "mean"))
        .sort_values("age_bucket")
    )


@materialize(input_type=pl.DataFrame, version="1.0.0")
def task_polars(titanic: pl.DataFrame):
    return (
        titanic
        .with_columns(age_bucket=(((pl.col("age") + 4.999) / 10).round() * 10))
        .group_by("age_bucket")
        .agg(samples=pl.col("age_bucket").count(),
             survival_likelyhood=pl.col("survived").mean())
        .sort("age_bucket")
    )


@materialize(input_type=PandasTableImpl, version="1.0.0")
def task_transform_df(titanic: pdt.Table):
    return (
        titanic
        >> mutate(age_bucket = round(λ.age + 4.999, -1))
        >> group_by(λ.age_bucket)
        >> summarise(samples=λ.age_bucket.count(),
                    survival_likelyhood=λ.survived.mean())
        >> arrange(λ.age_bucket)
        >> alias("transform_df")
    )


@materialize(input_type=SQLTableImpl, lazy=True)
def task_transform_sql(titanic: pdt.Table):
    return (
        titanic
        >> mutate(age_bucket = round(λ.age + 4.999, -1))
        >> group_by(λ.age_bucket)
        >> summarise(samples=λ.age_bucket.count(),
                    survival_likelyhood=λ.survived.mean())
        >> arrange(λ.age_bucket)
        >> alias("transform_sql")
    )


@materialize(input_type=ibis.api.Table, lazy=True)
def task_ibis(titanic: ibis.api.Table):
    return (
        titanic
        .mutate(age_bucket = (col.age + ibis.literal(4.999, "decimal")).round(-1))
        .group_by(col.age_bucket)
        .aggregate(samples=col.age_bucket.count(), survival_likelyhood=col.survived.mean())
        .order_by(col.age_bucket)
    )


@materialize(input_type=sa.Table, lazy=True)
def task_sqlalchemy(titanic: sa.Table):
    age_bucket = sa.func.round(titanic.c.age + 4.999, -1).label("age_bucket")
    return sa.select(
        age_bucket,
        sa.func.count(age_bucket).label("samples"),
        sa.func.avg(titanic.c.survived).label("survival_likelyhood")
    ).select_from(titanic).group_by(age_bucket).order_by(age_bucket)


@materialize(input_type=sa.Table, lazy=True)
def task_sql(titanic: sa.Table):
    return sa.text(f"""
        SELECT round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10        AS age_bucket,
               count(round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10) AS samples,
               AVG(titanic.survived)                                          AS survival_likelyhood
        FROM {titanic.original.schema}.{titanic.name} AS titanic
        GROUP BY round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10
        ORDER BY round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10 ASC NULLS LAST
    """)

#### define remaining tasks and helper functions

In [2]:
@materialize(version="1.0.0")
def read_input_data():
    titanic = pd.read_csv(
        'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
    )
    return Table(titanic, name="titanic")


@materialize(input_type=pd.DataFrame, version="1.0.0")
def print_tables(tbls: list[pd.DataFrame]):
    for tbl in tbls:
        print(f"\n\n{tbl}")


def get_pipeline():
    tasks = [task_pandas, task_polars, task_transform_df, task_transform_sql,
             task_ibis, task_sqlalchemy, task_sql]
    with Flow("flow") as flow:
        with Stage("t1_raw_input"):
            titanic = read_input_data()

        with Stage("t2_transformed_data"):
            out_tbls = [task(titanic) for task in tasks]
            print_tables(out_tbls)

    return flow

#### define pipeline:

In [3]:
def get_pipeline():
    tasks = [task_pandas, task_polars, task_transform_df, task_transform_sql,
             task_ibis, task_sqlalchemy, task_sql]
    with Flow("flow") as flow:
        with Stage("t1_raw_input"):
            titanic = read_input_data()

        with Stage("t2_transformed_data"):
            out_tbls = [task(titanic) for task in tasks]
            print_tables(out_tbls)

    return flow

#### setup logging:

In [4]:
import logging
from pydiverse.pipedag.util.structlog import setup_logging
setup_logging(log_level=logging.INFO)

#### run pipeline:

In [5]:
flow = get_pipeline()
result = flow.run()
result.visualize()
assert result.successful

2024-08-06 09:44:10.224208 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2024-08-06 09:44:10.230055 [info     ] Initialized SQL Table Store    [DuckDBTableStore] engine_url=duckdb:////tmp/pipedag/vectorization/db.duckdb schema_prefix= schema_suffix=
2024-08-06 09:44:10.230599 [info     ] Starting IPCServer             [RunContextServer] address=tcp://127.0.0.1:56025
2024-08-06 09:44:10.238459 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS pipedag_metadata
2024-08-06 09:44:10.243074 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS t1_raw_input
2024-08-06 09:44:10.243874 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS t1_raw_input__even CASCADE
2024-08-06 09:44:10.245002 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA t1_raw_input__even
2024-08-06 09:44:10.261149 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t1_raw_input__even.titanic AS
    SELECT *
    FROM t1_raw_input.titanic
2024-08-06 09:44:10.265571 [info     ] Found task in cache. Using cached result. [Task 'read_input_data'] task=<Task 'read_input_data' 0x155aef050 (id: 0)>
2024-08-06 09:44:10.266264 [info     ] Task finished successfully     [Task 'read_input_data'] state=<FinalTaskState.CACHE_VALID: 2> task=<Task 'read_input_data' 0x155aef050 (id: 0)>
2024-08-06 09:44:10.267080 [info     ] Committing stage               [Commit Stage] stage=<Stage: t1_raw_input>
2024-08-06 09:44:10.268423 [info     ] Stage is cache valid           [DuckDBTableStore] stage=<Stage: t1_raw_input>
2024-08-06 09:44:10.272069 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: t1_raw_input> state=<FinalTaskState.COMPLETED: 1>
2024-08-06 09:44:10.274296 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS t2_transformed_data
2024-08-06 09:44:10.274916 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP SCHEMA IF EXISTS t2_transformed_data__even CASCADE
2024-08-06 09:44:10.275654 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE SCHEMA t2_transformed_data__even
2024-08-06 09:44:10.280091 [info     ] Failed to retrieve task from cache [Task 'task_pandas'] cause=Couldn't retrieve task from cache: <Task 'task_pandas' 0x155b4c410 (id: 2)> task=<Task 'task_pandas' 0x155b4c410 (id: 2)>
2024-08-06 09:44:10.302349 [info     ] Retrieved table from local table cache [ParquetTableCache] table=<Table 'titanic' (t1_raw_input)>
2024-08-06 09:44:10.307579 [info     ] Writing table 't2_transformed_data__even.task_pandas_j63nc4stdmsqfsxeg3r4_0000' [DuckDBTableStore]
    [table_obj]
                samples  survival_likelyhood
    age_bucket
    10.0             64              0.59375
    20.0            115             0.382609
    30.0            230             0.365217
    40.0            155             0.445161
    50.0             86             0.383721
    60.0             42             0.404762
    70.0             17             0.235294
    80.0              5                  0.2
2024-08-06 09:44:10.317105 [info     ] Task finished successfully     [Task 'task_pandas'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_pandas' 0x155b4c410 (id: 2)>
2024-08-06 09:44:10.319997 [info     ] Failed to retrieve task from cache [Task 'task_polars'] cause=Couldn't retrieve task from cache: <Task 'task_polars' 0x155b4da10 (id: 3)> task=<Task 'task_polars' 0x155b4da10 (id: 3)>
2024-08-06 09:44:10.322476 [info     ] Retrieved table from local table cache [ParquetTableCache] table=<Table 'titanic' (t1_raw_input)>
2024-08-06 09:44:10.324313 [info     ] Writing table 't2_transformed_data__even.task_polars_d42ck7w3oge7b2vp44x6_0000' [DuckDBTableStore]
    [table_obj]
    shape: (9, 3)
    ┌────────────┬─────────┬─────────────────────┐
    │ age_bucket ┆ samples ┆ survival_likelyhood │
    │ ---        ┆ ---     ┆ ---                 │
    │ f64        ┆ u32     ┆ f64                 │
    ╞════════════╪═════════╪═════════════════════╡
    │ null       ┆ 0       ┆ 0.293785            │
    │ 10.0       ┆ 64      ┆ 0.59375             │
    │ 20.0       ┆ 115     ┆ 0.382609            │
    │ 30.0       ┆ 230     ┆ 0.365217            │
    │ 40.0       ┆ 155     ┆ 0.445161            │
    │ 50.0       ┆ 86      ┆ 0.383721            │
    │ 60.0       ┆ 42      ┆ 0.404762            │
    │ 70.0       ┆ 17      ┆ 0.235294            │
    │ 80.0       ┆ 5       ┆ 0.2                 │
    └────────────┴─────────┴─────────────────────┘
2024-08-06 09:44:10.336584 [info     ] Task finished successfully     [Task 'task_polars'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_polars' 0x155b4da10 (id: 3)>
2024-08-06 09:44:10.340422 [info     ] Failed to retrieve task from cache [Task 'task_transform_df'] cause=Couldn't retrieve task from cache: <Task 'task_transform_df' 0x155b60a90 (id: 4)> task=<Task 'task_transform_df' 0x155b60a90 (id: 4)>
2024-08-06 09:44:10.341425 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Invalid type <class 'pydiverse.transform.eager.pandas_table.PandasTableImpl'> table=<Table 'titanic' (t1_raw_input)>
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/duckdb_engine/__init__.py:173: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/pydiverse/transform/eager/pandas_table.py:244: FutureWarning: DataFrameGroupBy.grouper is deprecated and will be removed in a future version of pandas.
  grouper = self.grouped_df().grouper if self.grouped_by else None
2024-08-06 09:44:10.486508 [info     ] Writing table 't2_transformed_data__even.transform_df' [DuckDBTableStore]
    [table_obj]
       age_bucket  samples  survival_likelyhood
    0        10.0       64              0.59375
    1        20.0      115             0.382609
    2        30.0      230             0.365217
    3        40.0      155             0.445161
    4        50.0       86             0.383721
    5        60.0       42             0.404762
    6        70.0       17             0.235294
    7        80.0        5                  0.2
    8        <NA>        0             0.293785
2024-08-06 09:44:10.494748 [info     ] Task finished successfully     [Task 'task_transform_df'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_transform_df' 0x155b60a90 (id: 4)>
2024-08-06 09:44:10.496754 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'pydiverse.transform.lazy.sql_table.sql_table.SQLTableImpl'>. This is either because no TableHook has been registered for this type, or because not all requirements have been met for the corresponding hook.
Hooks with unmet requirements: pydiverse.pipedag.backend.table.sql.hooks.TidyPolarsTableHook table=<Table 'titanic' (t1_raw_input)>
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/duckdb_engine/__init__.py:173: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2024-08-06 09:44:10.624836 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=t2_transformed_data table=transform_sql
2024-08-06 09:44:10.626181 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE t2_transformed_data__even.transform_sql AS
    SELECT transform_sql.age_bucket AS age_bucket, transform_sql.samples AS samples, transform_sql.survival_likelyhood AS survival_likelyhood
    FROM (SELECT ROUND(titanic.age + 4.999, -1) AS age_bucket, count(ROUND(titanic.age + 4.999, -1)) AS samples, AVG(titanic.survived) AS survival_likelyhood
    FROM t1_raw_input.titanic AS titanic GROUP BY ROUND(titanic.age + 4.999, -1) ORDER BY ROUND(titanic.age + 4.999, -1) ASC NULLS LAST) AS transform_sql
2024-08-06 09:44:10.632154 [info     ] Task finished successfully     [Task 'task_transform_sql'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_transform_sql' 0x1065f4990 (id: 5)>
2024-08-06 09:44:10.633626 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'ibis.expr.types.relations.Table'>. This is either because no TableHook has been registered for this type, or because not all requirements have been met for the corresponding hook.
Hooks with unmet requirements: pydiverse.pipedag.backend.table.sql.hooks.TidyPolarsTableHook table=<Table 'titanic' (t1_raw_input)>
2024-08-06 09:44:10.662086 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=t2_transformed_data table=task_ibis_vz4vcva2ozcxtyt3i37p_0000
2024-08-06 09:44:10.705147 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE t2_transformed_data__even.task_ibis_vz4vcva2ozcxtyt3i37p_0000 AS
    WITH t0 AS (
      SELECT
        t2.survived AS survived,
        t2.pclass AS pclass,
        t2.sex AS sex,
        t2.age AS age,
        t2.sibsp AS sibsp,
        t2.parch AS parch,
        t2.fare AS fare,
        t2.embarked AS embarked,
        t2.class AS class,
        t2.who AS who,
        t2.adult_male AS adult_male,
        t2.deck AS deck,
        t2.embark_town AS embark_town,
        t2.alive AS alive,
        t2.alone AS alone,
        ROUND(t2.age + CAST(4.999 AS DECIMAL(18, 3)), CAST(-1 AS TINYINT)) AS age_bucket
      FROM t1_raw_input.titanic AS t2
    )
    SELECT
      t1.age_bucket,
      t1.samples,
      t1.survival_likelyhood
    FROM (
      SELECT
        t0.age_bucket AS age_bucket,
        COUNT(t0.age_bucket) AS samples,
        AVG(t0.survived) AS survival_likelyhood
      FROM t0
      GROUP BY
        1
    ) AS t1
    ORDER BY
      t1.age_bucket ASC
2024-08-06 09:44:10.710771 [info     ] Task finished successfully     [Task 'task_ibis'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_ibis' 0x1065f4a10 (id: 6)>
2024-08-06 09:44:10.712584 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'>. This is either because no TableHook has been registered for this type, or because not all requirements have been met for the corresponding hook.
Hooks with unmet requirements: pydiverse.pipedag.backend.table.sql.hooks.TidyPolarsTableHook table=<Table 'titanic' (t1_raw_input)>
2024-08-06 09:44:10.843422 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=t2_transformed_data table=task_sqlalchemy_w4wadategregxdnowbbn_0000
2024-08-06 09:44:10.844838 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE t2_transformed_data__even.task_sqlalchemy_w4wadategregxdnowbbn_0000 AS
    SELECT round(titanic.age + 4.999, -1) AS age_bucket, count(round(titanic.age + 4.999, -1)) AS samples, avg(titanic.survived) AS survival_likelyhood
    FROM t1_raw_input.titanic AS titanic GROUP BY round(titanic.age + 4.999, -1) ORDER BY age_bucket
2024-08-06 09:44:10.849768 [info     ] Task finished successfully     [Task 'task_sqlalchemy'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_sqlalchemy' 0x1065f5650 (id: 7)>
2024-08-06 09:44:10.851581 [info     ] Failed to retrieve table from local table cache [ParquetTableCache] cause=Can't retrieve Table as type <class 'sqlalchemy.sql.schema.Table'>. This is either because no TableHook has been registered for this type, or because not all requirements have been met for the corresponding hook.
Hooks with unmet requirements: pydiverse.pipedag.backend.table.sql.hooks.TidyPolarsTableHook table=<Table 'titanic' (t1_raw_input)>
2024-08-06 09:44:10.979254 [warning  ] Cache miss                     [DuckDBTableStore] cause=No result found for lazy table cache key stage=t2_transformed_data table=task_sql_j3362cymhyyu3gjkc2l6_0000
2024-08-06 09:44:10.980493 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE TABLE t2_transformed_data__even.task_sql_j3362cymhyyu3gjkc2l6_0000 AS

            SELECT round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10        AS age_bucket,
                   count(round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10) AS samples,
                   AVG(titanic.survived)                                          AS survival_likelyhood
            FROM t1_raw_input.titanic AS titanic
            GROUP BY round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10
            ORDER BY round((titanic.age + 4.999) / CAST(10 AS NUMERIC)) * 10 ASC NULLS LAST
2024-08-06 09:44:10.985541 [info     ] Task finished successfully     [Task 'task_sql'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'task_sql' 0x1065f5690 (id: 8)>
2024-08-06 09:44:10.988283 [info     ] Failed to retrieve task from cache [Task 'print_tables'] cause=Couldn't retrieve task from cache: <Task 'print_tables' 0x1065f5910 (id: 9)> task=<Task 'print_tables' 0x1065f5910 (id: 9)>
2024-08-06 09:44:10.990209 [info     ] Retrieved table from local table cache [ParquetTableCache] table=<Table 'task_pandas_j63nc4stdmsqfsxeg3r4_0000' (t2_transformed_data)>
2024-08-06 09:44:10.991601 [info     ] Retrieved table from local table cache [ParquetTableCache] table=<Table 'task_polars_d42ck7w3oge7b2vp44x6_0000' (t2_transformed_data)>
2024-08-06 09:44:10.992879 [info     ] Retrieved table from local table cache [ParquetTableCache] table=<Table 'transform_df' (t2_transformed_data)>
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/duckdb_engine/__init__.py:173: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/duckdb_engine/__init__.py:173: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/duckdb_engine/__init__.py:173: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
/Users/martin/micromamba/envs/vectorization/lib/python3.11/site-packages/duckdb_engine/__init__.py:173: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(
2024-08-06 09:44:11.514776 [info     ] Task finished successfully     [Task 'print_tables'] state=<FinalTaskState.COMPLETED: 1> task=<Task 'print_tables' 0x1065f5910 (id: 9)>
2024-08-06 09:44:11.515490 [info     ] Committing stage               [Commit Stage] stage=<Stage: t2_transformed_data>
2024-08-06 09:44:11.524991 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.task_ibis_vz4vcva2ozcxtyt3i37p_0000
2024-08-06 09:44:11.525383 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.task_polars_7po2t6jb5anlgrgzwa3z_0000
2024-08-06 09:44:11.525733 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.task_sqlalchemy_w4wadategregxdnowbbn_0000
2024-08-06 09:44:11.526142 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.task_sql_j3362cymhyyu3gjkc2l6_0000
2024-08-06 09:44:11.526477 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.titanic
2024-08-06 09:44:11.526778 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.transform_df
2024-08-06 09:44:11.527088 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    DROP VIEW t2_transformed_data.transform_sql
2024-08-06 09:44:11.531567 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.task_ibis_vz4vcva2ozcxtyt3i37p_0000 AS
    SELECT *
    FROM t2_transformed_data__even.task_ibis_vz4vcva2ozcxtyt3i37p_0000
2024-08-06 09:44:11.532483 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.task_pandas_j63nc4stdmsqfsxeg3r4_0000 AS
    SELECT *
    FROM t2_transformed_data__even.task_pandas_j63nc4stdmsqfsxeg3r4_0000
2024-08-06 09:44:11.533463 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.task_polars_d42ck7w3oge7b2vp44x6_0000 AS
    SELECT *
    FROM t2_transformed_data__even.task_polars_d42ck7w3oge7b2vp44x6_0000
2024-08-06 09:44:11.534315 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.task_sqlalchemy_w4wadategregxdnowbbn_0000 AS
    SELECT *
    FROM t2_transformed_data__even.task_sqlalchemy_w4wadategregxdnowbbn_0000
2024-08-06 09:44:11.535095 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.task_sql_j3362cymhyyu3gjkc2l6_0000 AS
    SELECT *
    FROM t2_transformed_data__even.task_sql_j3362cymhyyu3gjkc2l6_0000
2024-08-06 09:44:11.535868 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.transform_df AS
    SELECT *
    FROM t2_transformed_data__even.transform_df
2024-08-06 09:44:11.536624 [info     ] Executing sql                  [DuckDBTableStore]
    [query]
    CREATE VIEW t2_transformed_data.transform_sql AS
    SELECT *
    FROM t2_transformed_data__even.transform_sql
2024-08-06 09:44:11.540756 [info     ] Task finished successfully     [Commit Stage] stage=<Stage: t2_transformed_data> state=<FinalTaskState.COMPLETED: 1>
2024-08-06 09:44:11.542073 [info     ] Flow visualization             [Flow] url=https://kroki.io/graphviz/svg/eNqtkk1qwzAQhfc6hXG3LTiOfzHutocoRYwsKRGZ2K4kU0LJ3WvHqomTFLSoNh-a0XujB8PVTkO_D96Cb2IGNl8aHIwVmtoN1fBFVdsPduwjMIF1eF0NK2LsCUVtOlS8ImzXdNjpOnyKLieOxhdziSE0h4rIrrWrQhS8O2MtgM-2lIOF8DmQCvHXUBRSNtlYnAeGU0_w8KMiZ_Lg6zG1GlojO30U_OJ3leC--Q9B4iWIBXOgPbQczE0I4EKW7FGI7Y26Q9D-6mStXtJRLr090r88zCd6m2RrE8WUf4h8rR3HAjZ7cTx5OxR3Dt7ScpH2WrWWWmAo_P8-7mAUvLwGcTVz65g4po6ZY-5YTHszspw2YGbimDpmjrlj4XgmP60hMbQ=

            samples  survival_likelyhood
age_bucket
10.0             64              0.59375
20.0            115             0.382609
30.0            230             0.365217
40.0            155             0.445161
50.0             86             0.383721
60.0             42             0.404762
70.0             17             0.235294
80.0              5                  0.2


   age_bucket  samples  survival_likelyhood
0        <NA>        0             0.293785
1        10.0       64              0.59375
2        20.0      115             0.382609
3        30.0      230             0.365217
4        40.0      155             0.445161
5        50.0       86             0.383721
6        60.0       42             0.404762
7        70.0       17             0.235294
8        80.0        5                  0.2


   age_bucket  samples  survival_likelyhood
0        10.0       64              0.59375
1        20.0      115             0.382609
2        30.0      230             0.365217
3        40.0      155             0.445161
4        50.0       86             0.383721
5        60.0       42             0.404762
6        70.0       17             0.235294
7        80.0        5                  0.2
8        <NA>        0             0.293785


   age_bucket  samples  survival_likelyhood
0        10.0       64              0.59375
1        20.0      115             0.382609
2        30.0      230             0.365217
3        40.0      155             0.445161
4        50.0       86             0.383721
5        60.0       42             0.404762
6        70.0       17             0.235294
7        80.0        5                  0.2
8        <NA>        0             0.293785


   age_bucket  samples  survival_likelyhood
0        10.0       64              0.59375
1        20.0      115             0.382609
2        30.0      230             0.365217
3        40.0      155             0.445161
4        50.0       86             0.383721
5        60.0       42             0.404762
6        70.0       17             0.235294
7        80.0        5                  0.2
8        <NA>        0             0.293785


   age_bucket  samples  survival_likelyhood
0        10.0       64              0.59375
1        20.0      115             0.382609
2        30.0      230             0.365217
3        40.0      155             0.445161
4        50.0       86             0.383721
5        60.0       42             0.404762
6        70.0       17             0.235294
7        80.0        5                  0.2
8        <NA>        0             0.293785


   age_bucket  samples  survival_likelyhood
0        10.0       64              0.59375
1        20.0      115             0.382609
2        30.0      230             0.365217
3        40.0      155             0.445161
4        50.0       86             0.383721
5        60.0       42             0.404762
6        70.0       17             0.235294
7        80.0        5                  0.2
8        <NA>        0             0.293785

2024-08-06 09:44:11.746949 [info     ] Stopped IPCServer              [RunContextServer] address=tcp://127.0.0.1:56025

Next: [vectorization08.ipynb](vectorization08.ipynb): window functions